* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .CommonInput {
    border: calc(1 / 768 * 100vw) solid black;
    border-radius: calc(5 / 768 * 100vw);
    padding: calc(8 / 768 * 100vw) calc(10 / 768 * 100vw);
    outline: none;
  }
}

@media screen and (min-width: 1440px) {
  .CommonInput {
    border: calc(1 / 1440 * 100vw) solid black;
    border-radius: calc(5 / 1440 * 100vw);
    padding: calc(8 / 1440 * 100vw) calc(10 / 1440 * 100vw);
    outline: none;
  }
}
