@media screen and (max-width: 768px) {

  .CommonButton {
    outline: none;
    border: none;
    background: #0e58c9; 
    padding: calc(8 / 768 * 100vw) calc(20 / 768 * 100vw);
    color: white;
    border-radius: calc(5 / 768 * 100vw);
    transition: 0.2s background-color;
    cursor: pointer;
    height: calc(48 / 768 * 100vw);
    font-weight: 400;
    font-size: calc(22 / 768 * 100vw);
    line-height: calc(18 / 768 * 100vw);
    letter-spacing: 0.08em;
  }

  .CommonButton:hover {
    background: #0058ff;
  }

}

@media screen and (min-width: 769px) {

  .CommonButton {
    outline: none;
    border: none;
    background: #0e58c9; 
    padding: calc(8 / 1440 * 100vw) calc(20 / 1440 * 100vw);
    color: white;
    border-radius: calc(5 / 1440 * 100vw);
    transition: 0.2s background-color;
    cursor: pointer;
    height: calc(48 / 1440 * 100vw);
    font-weight: 400;
    font-size: calc(22 / 1440 * 100vw);
    line-height: calc(18 / 1440 * 100vw);
    letter-spacing: 0.08em;
  }

  .CommonButton:hover {
    background: #0058ff;
  }

}
