.Basketpage-container {
  text-align: center;
}

.Basketpage-title {
  padding-top: 90px;
  color: #474a51;
}

.Basketpage-card {
  display: flex;
  padding-left: 40px;
  gap: 32px;
  flex-wrap: wrap;
}

.Basketpage-title-totalPrice {
  color: #474a51;
}

.Basketpage-totalPrice {
  color: #474a51;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
}

.Basketpage-button {
  padding-top: 30px;
  padding-bottom: 50px;  
  text-align: center;
}
