.Card {
  width: 432px;
  box-shadow: 1px 1px 10px 4px #ccc;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #474A51;
}

.Card-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 250px); 
}

.Card-img {
  width: 432px;
  height: 250px;
  object-fit: cover;
}

.Card-price {
  font-size: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;  
}

.Card-button {
  margin-top: auto;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%; 
}
