@media screen and (max-width: 768px) {
  .Card {
    width: calc(432 / 768 * 100vw);
    box-shadow: 0px 0px calc(5 / 768 * 100vw) calc(2 / 768 * 100vw) #ccc;
    border-radius: calc(15 / 768 * 100vw);
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #474a51;
  }

  .Card-img {
    width: calc(432 / 768 * 100vw);
    height: calc(250 / 768 * 100vw);
    object-fit: cover;
  }

  .Card-container {
    padding: calc(20 / 768 * 100vw);
    height: calc(100% - calc(250 / 768 * 100vw));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(20 / 768 * 100vw);
  }

  .Card-conteiner__price {
    font-size: normal;
    font-weight: 700;
    font-size: calc(26 / 768 * 100vw);
    line-height: 130%;
  }

  .Card-conteiner__button {
    font-weight: 700;
    font-size: calc(26 / 768 * 100vw);
    height: calc(48 / 768 * 100vw);
    display: flex;
    flex-direction: row;
    gap: calc(8 / 768 * 100vw);
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .Card {
    width: calc(432 / 1440 * 100vw);
    box-shadow: 0px 0px calc(5 / 1440 * 100vw) calc(2 / 1440 * 100vw) #ccc;
    border-radius: calc(15 / 1440 * 100vw);
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #474a51;
  }

  .Card-img {
    width: calc(432 / 1440 * 100vw);
    height: calc(250 / 1440 * 100vw);
    object-fit: cover;
  }

  .Card-container {
    padding: calc(20 / 1440 * 100vw);
    height: calc(100% - calc(250 / 1440 * 100vw));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(20 / 1440 * 100vw);
  }

  .Card-conteiner__price {
    font-size: normal;
    font-weight: 700;
    font-size: calc(26 / 1440 * 100vw);
    line-height: 130%;
  }

  .Card-conteiner__button {
    font-weight: 700;
    font-size: calc(26 / 1440 * 100vw);
    height: calc(48 / 1440 * 100vw);
    display: flex;
    flex-direction: row;
    gap: calc(8 / 1440 * 100vw);
    justify-content: center;
    align-items: center;
  }
}
