* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.common-price::after {
  content: "$";
}

@media screen and (max-width: 768px) {
  .common-header {
    font-size: calc(20 / 768 * 100vw);
  }
}

@media screen and (min-width: 769px) {
  .common-header {
    font-size: calc(20 / 1440 * 100vw);
  }
}
